* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root {
  --tr-transform: transform 0.2s ease-in-out;
  --tr-bg-color: background-color 0.2s ease-in-out;
}
body {
  margin: 0 auto;
}
body .work-table {
  position: fixed;
  padding: 10px;
}
body .work-table .work-table__folder-icon {
  width: 50px;
  height: 50px;
  background: url(https://img.icons8.com/color/96/000000/mac-folder.png) no-repeat center center;
  background-size: cover;
  margin: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: var(--tr-transform);
  margin: 20px 0;
}
body .work-table .work-table__folder-icon:hover {
  transform: scale(1.1);
}
body .work-table .work-table__folder-icon p {
  position: relative;
  top: 25px;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
body .work-table .work-table__linux-icon {
  width: 50px;
  height: 50px;
  background: url(https://img.icons8.com/dusk/64/000000/linux.png) no-repeat center center;
  background-size: cover;
  margin: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: var(--tr-transform);
  margin: 20px 0;
}
body .work-table .work-table__linux-icon:hover {
  transform: scale(1.1);
}
body .work-table .work-table__linux-icon p {
  position: relative;
  top: 30px;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
body .work-table .work-table__file-folder-icon {
  width: 50px;
  height: 50px;
  background: url(https://img.icons8.com/officel/80/000000/burn-folder.png) no-repeat center center;
  background-size: cover;
  margin: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: var(--tr-transform);
  margin: 20px 0;
}
body .work-table .work-table__file-folder-icon:hover {
  transform: scale(1.1);
}
body .work-table .work-table__file-folder-icon p {
  position: relative;
  top: 30px;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(images/walpaper.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.window {
  margin: 10px;
  border-radius: 10px;
  width: 1400px;
  height: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 5px black;
}
.window .widnow__inner {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
}
.window .widnow__inner .inner__left-side {
  height: 100%;
  flex: 1;
  display: flex;
}
.window .widnow__inner .inner__left-side .left-side__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  height: 100%;
  background-color: #4d4d4d;
  border-bottom-left-radius: 10px;
}
.window .widnow__inner .inner__left-side .left-side__actions #icon-bar-1 {
  width: 25px;
  height: 25px;
  background: url(/images/files.png) no-repeat center center;
  background-size: cover;
  margin: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: var(--tr-transform);
}
.window .widnow__inner .inner__left-side .left-side__actions #icon-bar-1:hover {
  transform: scale(1.1);
}
.window .widnow__inner .inner__left-side .left-side__actions #icon-bar-1 p {
  position: relative;
  top: 0;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
.window .widnow__inner .inner__left-side .left-side__actions #icon-bar-2 {
  width: 25px;
  height: 25px;
  background: url(/images/search.png) no-repeat center center;
  background-size: cover;
  margin: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: var(--tr-transform);
}
.window .widnow__inner .inner__left-side .left-side__actions #icon-bar-2:hover {
  transform: scale(1.1);
}
.window .widnow__inner .inner__left-side .left-side__actions #icon-bar-2 p {
  position: relative;
  top: 0;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
.window .widnow__inner .inner__left-side .left-side__actions #icon-bar-3 {
  width: 25px;
  height: 25px;
  background: url(/images/source-control.png) no-repeat center center;
  background-size: cover;
  margin: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: var(--tr-transform);
}
.window .widnow__inner .inner__left-side .left-side__actions #icon-bar-3:hover {
  transform: scale(1.1);
}
.window .widnow__inner .inner__left-side .left-side__actions #icon-bar-3 p {
  position: relative;
  top: 0;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
.window .widnow__inner .inner__left-side .left-side__actions #icon-bar-4 {
  width: 25px;
  height: 25px;
  background: url(/images/debug-alt.png) no-repeat center center;
  background-size: cover;
  margin: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: var(--tr-transform);
}
.window .widnow__inner .inner__left-side .left-side__actions #icon-bar-4:hover {
  transform: scale(1.1);
}
.window .widnow__inner .inner__left-side .left-side__actions #icon-bar-4 p {
  position: relative;
  top: 0;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
.window .widnow__inner .inner__left-side .left-side__actions #icon-bar-5 {
  width: 25px;
  height: 25px;
  background: url(/images/extensions.png) no-repeat center center;
  background-size: cover;
  margin: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: var(--tr-transform);
}
.window .widnow__inner .inner__left-side .left-side__actions #icon-bar-5:hover {
  transform: scale(1.1);
}
.window .widnow__inner .inner__left-side .left-side__actions #icon-bar-5 p {
  position: relative;
  top: 0;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
.window .widnow__inner .inner__left-side .left-side__actions #icon-bar-6 {
  width: 25px;
  height: 25px;
  background: url(/images/remote-explorer.png) no-repeat center center;
  background-size: cover;
  margin: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: var(--tr-transform);
}
.window .widnow__inner .inner__left-side .left-side__actions #icon-bar-6:hover {
  transform: scale(1.1);
}
.window .widnow__inner .inner__left-side .left-side__actions #icon-bar-6 p {
  position: relative;
  top: 0;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
.window .widnow__inner .inner__left-side .left-side__actions #icon-bar-7 {
  width: 25px;
  height: 25px;
  background: url(/images/settings-gear.png) no-repeat center center;
  background-size: cover;
  margin: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: var(--tr-transform);
}
.window .widnow__inner .inner__left-side .left-side__actions #icon-bar-7:hover {
  transform: scale(1.1);
}
.window .widnow__inner .inner__left-side .left-side__actions #icon-bar-7 p {
  position: relative;
  top: 0;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
.window .widnow__inner .inner__left-side .left-side__actions div {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}
.window .widnow__inner .inner__left-side .left-side__actions div:hover {
  background-color: gray;
}
.window .widnow__inner .inner__left-side .left-side__explorer {
  background-color: #676767;
  flex: 3;
  display: grid;
  grid-template-columns: 1, 1fr;
  grid-template-rows: repeat(5, 30px);
  grid-gap: 0.1rem;
}
.window .widnow__inner .inner__left-side .left-side__explorer div {
  padding: 2px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  transition: var(--tr-bg-color);
}
.window .widnow__inner .inner__left-side .left-side__explorer div:hover,
.window .widnow__inner .inner__left-side .left-side__explorer div.selected {
  background-color: #9a9a9a;
}
.window .widnow__inner .inner__left-side .left-side__explorer div p {
  color: white;
}
.window .widnow__inner .inner__left-side .left-side__explorer div #explorer-html {
  width: 20px;
  height: 20px;
  background: url(https://img.icons8.com/color/48/000000/html-5--v1.png) no-repeat center center;
  background-size: cover;
  margin: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: var(--tr-transform);
}
.window .widnow__inner .inner__left-side .left-side__explorer div #explorer-html:hover {
  transform: scale(1.1);
}
.window .widnow__inner .inner__left-side .left-side__explorer div #explorer-html p {
  position: relative;
  top: 0;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
.window .widnow__inner .inner__left-side .left-side__explorer div #explorer-images-folder {
  width: 20px;
  height: 20px;
  background: url(https://img.icons8.com/fluency/48/000000/folder-invoices--v1.png) no-repeat center center;
  background-size: cover;
  margin: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: var(--tr-transform);
}
.window .widnow__inner .inner__left-side .left-side__explorer div #explorer-images-folder:hover {
  transform: scale(1.1);
}
.window .widnow__inner .inner__left-side .left-side__explorer div #explorer-images-folder p {
  position: relative;
  top: 0;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
.window .widnow__inner .inner__left-side .left-side__explorer div #explorer-css {
  width: 20px;
  height: 20px;
  background: url(https://img.icons8.com/color-glass/48/000000/css.png) no-repeat center center;
  background-size: cover;
  margin: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: var(--tr-transform);
}
.window .widnow__inner .inner__left-side .left-side__explorer div #explorer-css:hover {
  transform: scale(1.1);
}
.window .widnow__inner .inner__left-side .left-side__explorer div #explorer-css p {
  position: relative;
  top: 0;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
.window .widnow__inner .inner__left-side .left-side__explorer div #explorer-less {
  width: 20px;
  height: 20px;
  background: url(https://img.icons8.com/windows/32/000000/less-logo.png) no-repeat center center;
  background-size: cover;
  margin: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: var(--tr-transform);
}
.window .widnow__inner .inner__left-side .left-side__explorer div #explorer-less:hover {
  transform: scale(1.1);
}
.window .widnow__inner .inner__left-side .left-side__explorer div #explorer-less p {
  position: relative;
  top: 0;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
.window .widnow__inner .inner__left-side .left-side__explorer div #explorer-js {
  width: 20px;
  height: 20px;
  background: url(https://img.icons8.com/color-glass/48/000000/js.png) no-repeat center center;
  background-size: cover;
  margin: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: var(--tr-transform);
}
.window .widnow__inner .inner__left-side .left-side__explorer div #explorer-js:hover {
  transform: scale(1.1);
}
.window .widnow__inner .inner__left-side .left-side__explorer div #explorer-js p {
  position: relative;
  top: 0;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
.window .widnow__inner .inner__right-side {
  height: 100%;
  width: 100%;
  background-color: #343434;
  flex: 5;
  display: flex;
  border-bottom-right-radius: 10px;
  overflow: hidden scroll;
}
.window .widnow__inner .inner__right-side::-webkit-scrollbar {
  width: 15px;
}
.window .widnow__inner .inner__right-side::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}
.window .widnow__inner .inner__right-side::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 5px;
}
.window .widnow__inner .inner__right-side::-webkit-scrollbar-thumb:hover {
  background-color: #1a1a1a;
}
.window .widnow__inner .inner__right-side .right-side__column {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 3%;
}
.window .widnow__inner .inner__right-side .right-side__column p {
  margin: 0;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}
.window .widnow__inner .inner__right-side .right-side__code-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97;
}
.window .widnow__inner .inner__right-side .right-side__code-area code {
  margin: 0 10px;
  padding: 0;
  height: 100%;
  width: 100%;
  color: white;
}
.window .widnow__inner .inner__right-side .right-side__code-area code pre {
  margin: 0;
}
.window .window__head {
  width: 100%;
  height: 35px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: radial-gradient(grey, #7c7c7c);
  display: flex;
  justify-content: flex-start;
}
.window .window__head .head__circle-box {
  margin: 2px;
  width: auto;
  height: 100%;
  align-self: end;
  display: flex;
}
.window .window__head .head__circle-box .circle-box__circle--red {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  margin-left: 15px;
  margin-top: 10px;
  cursor: pointer;
  transition: var(--tr-bg-color);
}
.window .window__head .head__circle-box .circle-box__circle--red:hover {
  background-color: #cc0000;
}
.window .window__head .head__circle-box .circle-box__circle--orange {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: orange;
  margin-left: 15px;
  margin-top: 10px;
  cursor: pointer;
  transition: var(--tr-bg-color);
}
.window .window__head .head__circle-box .circle-box__circle--orange:hover {
  background-color: #cc8400;
}
.window .window__head .head__circle-box .circle-box__circle--green {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
  margin-left: 15px;
  margin-top: 10px;
  cursor: pointer;
  transition: var(--tr-bg-color);
}
.window .window__head .head__circle-box .circle-box__circle--green:hover {
  background-color: #004d00;
}
.window .window__second-head {
  height: 40px;
  width: 100%;
  background: #8d8d8d;
  display: flex;
  align-items: center;
}
.window .window__second-head #second-head__icon {
  width: 25px;
  height: 25px;
  background: url(https://img.icons8.com/fluency/48/000000/visual-studio-2019.png) no-repeat center center;
  background-size: cover;
  margin: 7.5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: var(--tr-transform);
  margin-left: 15px;
}
.window .window__second-head #second-head__icon:hover {
  transform: scale(1.1);
}
.window .window__second-head #second-head__icon p {
  position: relative;
  top: 0px;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
.window .window__second-head .second-head__action {
  padding: 0;
  height: 100%;
  display: flex;
  width: auto;
  align-items: center;
  margin-left: 12px;
  cursor: pointer;
  transition: var(--tr-bg-color);
}
.window .window__second-head .second-head__action p {
  padding: 0 5px;
  color: white;
  height: 25px;
}
.window .window__second-head .second-head__action:hover {
  background-color: #b3b3b3;
}
footer {
  z-index: 1;
  bottom: 0;
  position: fixed;
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
footer #icon-1 {
  width: 55px;
  height: 55px;
  background: url(https://img.icons8.com/color/96/000000/mac-folder.png) no-repeat center center;
  background-size: cover;
  margin: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: var(--tr-transform);
}
footer #icon-1:hover {
  transform: scale(1.1);
}
footer #icon-1 p {
  position: relative;
  top: 0;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
footer #icon-2 {
  width: 55px;
  height: 55px;
  background: url(https://img.icons8.com/color/96/000000/adventures--v1.png) no-repeat center center;
  background-size: cover;
  margin: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: var(--tr-transform);
}
footer #icon-2:hover {
  transform: scale(1.1);
}
footer #icon-2 p {
  position: relative;
  top: 0;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
footer #icon-3 {
  width: 55px;
  height: 55px;
  background: url(https://img.icons8.com/cute-clipart/64/000000/pages.png) no-repeat center center;
  background-size: cover;
  margin: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: var(--tr-transform);
}
footer #icon-3:hover {
  transform: scale(1.1);
}
footer #icon-3 p {
  position: relative;
  top: 0;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
footer #icon-4 {
  width: 55px;
  height: 55px;
  background: url(https://img.icons8.com/color/96/000000/malwarebytes.png) no-repeat center center;
  background-size: cover;
  margin: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: var(--tr-transform);
}
footer #icon-4:hover {
  transform: scale(1.1);
}
footer #icon-4 p {
  position: relative;
  top: 0;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
footer #icon-5 {
  width: 55px;
  height: 55px;
  background: url(https://img.icons8.com/color/96/000000/debian.png) no-repeat center center;
  background-size: cover;
  margin: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: var(--tr-transform);
}
footer #icon-5:hover {
  transform: scale(1.1);
}
footer #icon-5 p {
  position: relative;
  top: 0;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
footer #icon-6 {
  width: 55px;
  height: 55px;
  background: url(https://img.icons8.com/nolan/64/messages-mac.png) no-repeat center center;
  background-size: cover;
  margin: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: var(--tr-transform);
}
footer #icon-6:hover {
  transform: scale(1.1);
}
footer #icon-6 p {
  position: relative;
  top: 0;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
footer #icon-7 {
  width: 55px;
  height: 55px;
  background: url(https://img.icons8.com/external-flatart-icons-lineal-color-flatarticons/64/000000/external-plug-hardware-flatart-icons-lineal-color-flatarticons-1.png) no-repeat center center;
  background-size: cover;
  margin: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: var(--tr-transform);
}
footer #icon-7:hover {
  transform: scale(1.1);
}
footer #icon-7 p {
  position: relative;
  top: 0;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
footer #icon-8 {
  width: 55px;
  height: 55px;
  background: url(https://img.icons8.com/plasticine/100/000000/workstation.png) no-repeat center center;
  background-size: cover;
  margin: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: var(--tr-transform);
}
footer #icon-8:hover {
  transform: scale(1.1);
}
footer #icon-8 p {
  position: relative;
  top: 0;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
footer #icon-9 {
  width: 55px;
  height: 55px;
  background: url(https://img.icons8.com/emoji/48/000000/headphone-emoji.png) no-repeat center center;
  background-size: cover;
  margin: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: var(--tr-transform);
}
footer #icon-9:hover {
  transform: scale(1.1);
}
footer #icon-9 p {
  position: relative;
  top: 0;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
footer #icon-10 {
  width: 55px;
  height: 55px;
  background: url(https://img.icons8.com/color/96/000000/adobe-fireworks--v1.png) no-repeat center center;
  background-size: cover;
  margin: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: var(--tr-transform);
}
footer #icon-10:hover {
  transform: scale(1.1);
}
footer #icon-10 p {
  position: relative;
  top: 0;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
footer #icon-11 {
  width: 55px;
  height: 55px;
  background: url(https://img.icons8.com/color/96/000000/nuke.png) no-repeat center center;
  background-size: cover;
  margin: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: var(--tr-transform);
}
footer #icon-11:hover {
  transform: scale(1.1);
}
footer #icon-11 p {
  position: relative;
  top: 0;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
footer #icon-12 {
  width: 55px;
  height: 55px;
  background: url(https://img.icons8.com/fluency/48/000000/visual-studio-2019.png) no-repeat center center;
  background-size: cover;
  margin: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: var(--tr-transform);
}
footer #icon-12:hover {
  transform: scale(1.1);
}
footer #icon-12 p {
  position: relative;
  top: 0;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
footer span {
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white));
}
.footer {
  bottom: 0;
  position: fixed;
  width: 80%;
  height: 100px;
  background: radial-gradient(grey, #7c7c7c);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  opacity: 0.7;
}
